In [2]:
import pandas as pd
import numpy as np

from rl_lib.swiss_round.environment import SwissRoundEnv
from rl_lib.swiss_round.agent import DQNAgent

%reload_ext autoreload
%autoreload 2

# Utils

In [3]:
def probability_tables(team_strengths, max_draw_probability):
    index = range(len(team_strengths))
    wps = []
    dps = []
    lps = []
    for ts1 in team_strengths :
        twps = []
        tdps = []
        tlps = []
        for ts2 in team_strengths :
            strength_diff = ts1 - ts2
            tmp_win_prob = 1 / (1 + np.exp(-strength_diff))
            tmp_loss_prob = 1 / (1 + np.exp(+strength_diff))
            tmp_draw_prob = max_draw_probability * np.exp(-abs(strength_diff))
            # Softmax
            win_prob = tmp_win_prob / (tmp_win_prob + tmp_draw_prob + tmp_loss_prob)
            draw_prob = tmp_draw_prob / (tmp_win_prob + tmp_draw_prob + tmp_loss_prob)
            loss_prob = tmp_loss_prob / (tmp_win_prob + tmp_draw_prob + tmp_loss_prob)  
            
            twps.append(win_prob)
            tdps.append(draw_prob)
            tlps.append(loss_prob)
        wps.append(twps)
        dps.append(tdps)
        lps.append(tlps)
    return pd.DataFrame(wps, index=index, columns = index), pd.DataFrame(dps, index=index, columns = index),pd.DataFrame(lps, index=index, columns = index)

In [4]:
def check_probability(team_strengths, max_draw_probability):
    wp, dp, lp = probability_tables(team_strengths=team_strengths, max_draw_probability=max_draw_probability)
    df = wp+dp+lp
    values_array = df.to_numpy()
    target_array = np.full_like(values_array, 1)

    return np.allclose(values_array, target_array, rtol=10e-5, atol=10e-8)

# Environement

In [32]:
n_teams = 18
max_str = 18
threshold_ranks = [4,12]
agent_id = threshold_ranks[-1] 
team_strengths = np.linspace(max_str,0,n_teams)
#team_strengths = [4 * 0.9 ** i for i in range(n_teams)]
mdp = 0.5

print(np.array(team_strengths).round(2))
wp, dp, lp = probability_tables(team_strengths=team_strengths, max_draw_probability=mdp)
pd.concat([wp.loc[[agent_id]].rename(index={agent_id:'Win'}),
           dp.loc[[agent_id]].rename(index={agent_id:'Draw'}),
           lp.loc[[agent_id]].rename(index={agent_id:'Loss'}),
           ]).T.round(2)

[18.   16.94 15.88 14.82 13.76 12.71 11.65 10.59  9.53  8.47  7.41  6.35
  5.29  4.24  3.18  2.12  1.06  0.  ]

     Win  Draw  Loss
0   0.00  0.00  1.00
1   0.00  0.00  1.00
2   0.00  0.00  1.00
3   0.00  0.00  1.00
4   0.00  0.00  1.00
5   0.00  0.00  1.00
6   0.00  0.00  1.00
7   0.00  0.00  0.99
8   0.01  0.01  0.98
9   0.04  0.02  0.94
10  0.10  0.06  0.84
11  0.22  0.15  0.63
12  0.33  0.33  0.33
13  0.63  0.15  0.22
14  0.84  0.06  0.10
15  0.94  0.02  0.04
16  0.98  0.01  0.01
17  0.99  0.00  0.00

In [33]:
n_rounds = 6
bonus_points = [30,20]
#Agent_id just below last threshold
n_baselines_simu = 2000
name = f'lin_{max_str}'
print(f"Valid probability set-up : {check_probability(team_strengths, mdp)}")

env = SwissRoundEnv(
    n_teams=n_teams,
    n_rounds=n_rounds,
    name=name,
    team_strengths=team_strengths,
    threshold_ranks=threshold_ranks,
    bonus_points=bonus_points,
    agent_id=agent_id,
    max_draw_probability=mdp
)

Valid probability set-up : True

#### Detailed tables

In [7]:
wp.round(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,0.33,0.40,0.47,0.54,0.60,0.66,0.72,0.76,0.81,0.84,0.87,0.90,0.92,0.93,0.95,0.96,0.97,0.97
1,0.32,0.33,0.40,0.47,0.54,0.60,0.66,0.72,0.76,0.81,0.84,0.87,0.90,0.92,0.93,0.95,0.96,0.97
2,0.29,0.32,0.33,0.40,0.47,0.54,0.60,0.66,0.72,0.76,0.81,0.84,0.87,0.90,0.92,0.93,0.95,0.96
3,0.27,0.29,0.32,0.33,0.40,0.47,0.54,0.60,0.66,0.72,0.76,0.81,0.84,0.87,0.90,0.92,0.93,0.95
4,0.23,0.27,0.29,0.32,0.33,0.40,0.47,0.54,0.60,0.66,0.72,0.76,0.81,0.84,0.87,0.90,0.92,0.93
5,0.20,0.23,0.27,0.29,0.32,0.33,0.40,0.47,0.54,0.60,0.66,0.72,0.76,0.81,0.84,0.87,0.90,0.92
6,0.17,0.20,0.23,0.27,0.29,0.32,0.33,0.40,0.47,0.54,0.60,0.66,0.72,0.76,0.81,0.84,0.87,0.90
7,0.15,0.17,0.20,0.23,0.27,0.29,0.32,0.33,0.40,0.47,0.54,0.60,0.66,0.72,0.76,0.81,0.84,0.87
8,0.12,0.15,0.17,0.20,0.23,0.27,0.29,0.32,0.33,0.40,0.47,0.54,0.60,0.66,0.72,0.76,0.81,0.84
9,0.10,0.12,0.15,0.17,0.20,0.23,0.27,0.29,0.32,0.33,0.40,0.47,0.54,0.60,0.66,0.72,0.76,0.81
10,0.08,0.10,0.12,0.15,0.17,0.20,0.23,0.27,0.29,0.32,0.33,0.40,0.47,0.54,0.60,0.66,0.72,0.76
11,0.07,0.08,0.10,0.12,0.15,0.17,0.20,0.23,0.27,0.29,0.32,0.33,0.40,0.47,0.54,0.60,0.66,0.72
12,0.05,0.07,0.08,0.10,0.12,0.15,0.17,0.20,0.23,0.27,0.29,0.32,0.33,0.40,0.47,0.54,0.60,0.66
13,0.04,0.05,0.07,0.08,0.10,0.12,0.15,0.17,0.20,0.23,0.27,0.29,0.32,0.33,0.40,0.47,0.54,0.60
14,0.04,0.04,0.05,0.07,0.08,0.10,0.12,0.15,0.17,0.20,0.23,0.27,0.29,0.32,0.33,0.40,0.47,0.54
15,0.03,0.04,0.04,0.05,0.07,0.08,0.10,0.12,0.15,0.17,0.20,0.23,0.27,0.29,0.32,0.33,0.40,0.47
16,0.02,0.03,0.04,0.04,0.05,0.07,0.08,0.10,0.12,0.15,0.17,0.20,0.23,0.27,0.29,0.32,0.33,0.40
17,0.02,0.02,0.03,0.04,0.04,0.05,0.07,0.08,0.10,0.12,0.15,0.17,0.20,0.23,0.27,0.29,0.32,0.33

In [8]:
dp.round(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,0.33,0.28,0.24,0.20,0.16,0.13,0.11,0.09,0.07,0.06,0.05,0.04,0.03,0.02,0.02,0.01,0.01,0.01
1,0.28,0.33,0.28,0.24,0.20,0.16,0.13,0.11,0.09,0.07,0.06,0.05,0.04,0.03,0.02,0.02,0.01,0.01
2,0.24,0.28,0.33,0.28,0.24,0.20,0.16,0.13,0.11,0.09,0.07,0.06,0.05,0.04,0.03,0.02,0.02,0.01
3,0.20,0.24,0.28,0.33,0.28,0.24,0.20,0.16,0.13,0.11,0.09,0.07,0.06,0.05,0.04,0.03,0.02,0.02
4,0.16,0.20,0.24,0.28,0.33,0.28,0.24,0.20,0.16,0.13,0.11,0.09,0.07,0.06,0.05,0.04,0.03,0.02
5,0.13,0.16,0.20,0.24,0.28,0.33,0.28,0.24,0.20,0.16,0.13,0.11,0.09,0.07,0.06,0.05,0.04,0.03
6,0.11,0.13,0.16,0.20,0.24,0.28,0.33,0.28,0.24,0.20,0.16,0.13,0.11,0.09,0.07,0.06,0.05,0.04
7,0.09,0.11,0.13,0.16,0.20,0.24,0.28,0.33,0.28,0.24,0.20,0.16,0.13,0.11,0.09,0.07,0.06,0.05
8,0.07,0.09,0.11,0.13,0.16,0.20,0.24,0.28,0.33,0.28,0.24,0.20,0.16,0.13,0.11,0.09,0.07,0.06
9,0.06,0.07,0.09,0.11,0.13,0.16,0.20,0.24,0.28,0.33,0.28,0.24,0.20,0.16,0.13,0.11,0.09,0.07
10,0.05,0.06,0.07,0.09,0.11,0.13,0.16,0.20,0.24,0.28,0.33,0.28,0.24,0.20,0.16,0.13,0.11,0.09
11,0.04,0.05,0.06,0.07,0.09,0.11,0.13,0.16,0.20,0.24,0.28,0.33,0.28,0.24,0.20,0.16,0.13,0.11
12,0.03,0.04,0.05,0.06,0.07,0.09,0.11,0.13,0.16,0.20,0.24,0.28,0.33,0.28,0.24,0.20,0.16,0.13
13,0.02,0.03,0.04,0.05,0.06,0.07,0.09,0.11,0.13,0.16,0.20,0.24,0.28,0.33,0.28,0.24,0.20,0.16
14,0.02,0.02,0.03,0.04,0.05,0.06,0.07,0.09,0.11,0.13,0.16,0.20,0.24,0.28,0.33,0.28,0.24,0.20
15,0.01,0.02,0.02,0.03,0.04,0.05,0.06,0.07,0.09,0.11,0.13,0.16,0.20,0.24,0.28,0.33,0.28,0.24
16,0.01,0.01,0.02,0.02,0.03,0.04,0.05,0.06,0.07,0.09,0.11,0.13,0.16,0.20,0.24,0.28,0.33,0.28
17,0.01,0.01,0.01,0.02,0.02,0.03,0.04,0.05,0.06,0.07,0.09,0.11,0.13,0.16,0.20,0.24,0.28,0.33

In [9]:
lp.round(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,0.33,0.32,0.29,0.27,0.23,0.20,0.17,0.15,0.12,0.10,0.08,0.07,0.05,0.04,0.04,0.03,0.02,0.02
1,0.40,0.33,0.32,0.29,0.27,0.23,0.20,0.17,0.15,0.12,0.10,0.08,0.07,0.05,0.04,0.04,0.03,0.02
2,0.47,0.40,0.33,0.32,0.29,0.27,0.23,0.20,0.17,0.15,0.12,0.10,0.08,0.07,0.05,0.04,0.04,0.03
3,0.54,0.47,0.40,0.33,0.32,0.29,0.27,0.23,0.20,0.17,0.15,0.12,0.10,0.08,0.07,0.05,0.04,0.04
4,0.60,0.54,0.47,0.40,0.33,0.32,0.29,0.27,0.23,0.20,0.17,0.15,0.12,0.10,0.08,0.07,0.05,0.04
5,0.66,0.60,0.54,0.47,0.40,0.33,0.32,0.29,0.27,0.23,0.20,0.17,0.15,0.12,0.10,0.08,0.07,0.05
6,0.72,0.66,0.60,0.54,0.47,0.40,0.33,0.32,0.29,0.27,0.23,0.20,0.17,0.15,0.12,0.10,0.08,0.07
7,0.76,0.72,0.66,0.60,0.54,0.47,0.40,0.33,0.32,0.29,0.27,0.23,0.20,0.17,0.15,0.12,0.10,0.08
8,0.81,0.76,0.72,0.66,0.60,0.54,0.47,0.40,0.33,0.32,0.29,0.27,0.23,0.20,0.17,0.15,0.12,0.10
9,0.84,0.81,0.76,0.72,0.66,0.60,0.54,0.47,0.40,0.33,0.32,0.29,0.27,0.23,0.20,0.17,0.15,0.12
10,0.87,0.84,0.81,0.76,0.72,0.66,0.60,0.54,0.47,0.40,0.33,0.32,0.29,0.27,0.23,0.20,0.17,0.15
11,0.90,0.87,0.84,0.81,0.76,0.72,0.66,0.60,0.54,0.47,0.40,0.33,0.32,0.29,0.27,0.23,0.20,0.17
12,0.92,0.90,0.87,0.84,0.81,0.76,0.72,0.66,0.60,0.54,0.47,0.40,0.33,0.32,0.29,0.27,0.23,0.20
13,0.93,0.92,0.90,0.87,0.84,0.81,0.76,0.72,0.66,0.60,0.54,0.47,0.40,0.33,0.32,0.29,0.27,0.23
14,0.95,0.93,0.92,0.90,0.87,0.84,0.81,0.76,0.72,0.66,0.60,0.54,0.47,0.40,0.33,0.32,0.29,0.27
15,0.96,0.95,0.93,0.92,0.90,0.87,0.84,0.81,0.76,0.72,0.66,0.60,0.54,0.47,0.40,0.33,0.32,0.29
16,0.97,0.96,0.95,0.93,0.92,0.90,0.87,0.84,0.81,0.76,0.72,0.66,0.60,0.54,0.47,0.40,0.33,0.32
17,0.97,0.97,0.96,0.95,0.93,0.92,0.90,0.87,0.84,0.81,0.76,0.72,0.66,0.60,0.54,0.47,0.40,0.33

In [10]:
wp+dp+lp

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
5,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
6,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
7,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
8,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
9,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
10,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
11,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
12,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
13,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
14,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
15,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
16,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
17,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

# Simulations

### Logs

In [34]:
display_cols = ['exp_id', 'env_name', 'n_episodes','lr', 'layers', 'dropout', 'avg_test_rewards',
       'std_test_rewards', 'avg_test_gambits', 'std_test_gambits']

In [40]:
cpdf = pd.read_csv('../logs/calmip_logs.csv', index_col=0)
locdf = pd.read_csv('../logs/exp_logs.csv', index_col=0)
ldf = pd.concat([cpdf,locdf]).reset_index(drop=True)
ldf[ldf['env_name']==name].sort_values(by='avg_test_rewards', ascending=False)[display_cols]

,exp_id,env_name,n_episodes,lr,layers,dropout,avg_test_rewards,std_test_rewards,avg_test_gambits,std_test_gambits
20,loc_9,lin_18,20000,0.0005,256_128_64,0.3,16.015,11.254145,0.4235,0.600123

### Baselines Simulations

In [36]:
simulation_wa = env.simulate_n_tournaments(n_baselines_simu,
                                           n_cores = 32, 
                                           policy = 'win_all',
                                           display_results=True)
baseline_reward_wa = simulation_wa.loc[agent_id,'Avg_Reward'] 
baseline_std_wa = simulation_wa.loc[agent_id,'Std_Reward'] 
print(f"Baseline WinAll average reward = {baseline_reward_wa:.1f}  {baseline_std_wa:.1f}")
simulation_wa.loc[agent_id].round(2)

Simulating tournaments: 100%|| 2000/2000 [00:14<00:00, 140.74it/s]

Warning: 39 simulations failed out of 2000 (1.9%)

Simulation Results (from 1961 tournaments):
Team | Strength | Avg Points | Avg Rank | Avg Reward | Std Reward | Top-4 % | Top-12 % |
----------------------------------------------------------------------------------------
   0 |    18.00 |      16.65 |     1.43 |      66.44 |       3.35 |  99.29% | 100.00% |
   1 |    16.94 |      14.66 |     2.32 |      62.76 |       8.34 |  93.68% | 100.00% |
   2 |    15.88 |      13.02 |     3.39 |      57.39 |      12.77 |  81.23% | 100.00% |
   3 |    14.82 |      11.79 |     4.69 |      47.45 |      16.08 |  52.22% | 100.00% |
   4 |    13.76 |      11.28 |     5.39 |      42.24 |      15.65 |  36.77% |  99.64% |
   5 |    12.71 |      10.62 |     6.37 |      36.12 |      12.96 |  18.82% |  99.29% |
   6 |    11.65 |      10.03 |     7.29 |      32.62 |      10.21 |   9.59% |  98.57% |
   7 |    10.59 |       9.58 |     8.11 |      30.11 |       8.67 |   4.64% |  95.72% |
   8 |     9.53 |       9.12 |     9.03 |      28.03 |       8.43 |   2.19% |  91.28% |
   9 |     8.47 |       8.73 |     9.86 |      26.23 |       8.88 |   1.02% |  85.98% |
  10 |     7.41 |       8.10 |    10.97 |      22.69 |      10.49 |   0.31% |  72.51% |
  11 |     6.35 |       7.61 |    11.80 |      19.63 |      11.29 |   0.15% |  59.87% |
  12 |     5.29 |       7.17 |    12.55 |      16.71 |      11.41 |   0.10% |  47.53% |
  13 |     4.24 |       6.52 |    13.49 |      12.32 |      10.29 |   0.00% |  29.02% |
  14 |     3.18 |       5.86 |    14.40 |       8.82 |       8.19 |   0.00% |  14.79% |
  15 |     2.12 |       4.70 |    15.60 |       5.67 |       5.33 |   0.00% |   4.84% |
  16 |     1.06 |       3.00 |    16.72 |       3.19 |       3.01 |   0.00% |   0.92% |
  17 |     0.00 |       1.20 |    17.58 |       1.21 |       1.65 |   0.00% |   0.05% |
Baseline WinAll average reward = 16.7  11.4

Team          12.00
Strength       5.29
Avg_Points     7.17
Avg_Rank      12.55
Avg_Reward    16.71
Std_Reward    11.41
Top-4 %        0.00
Top-12 %       0.48
Name: 12, dtype: float64

In [37]:
simulation_lf = env.simulate_n_tournaments(n_baselines_simu,n_cores = 32, policy = 'lose_first',display_results=False)
baseline_reward_lf = simulation_lf.loc[agent_id,'Avg_Reward'] 
baseline_std_lf = simulation_lf.loc[agent_id,'Std_Reward'] 
print(f"Baseline Lose First average reward = {baseline_reward_lf:.1f}  {baseline_std_lf:.1f}")
simulation_lf.loc[agent_id].round(2)

Simulating tournaments: 100%|| 2000/2000 [00:14<00:00, 137.37it/s]

Warning: 40 simulations failed out of 2000 (2.0%)
Baseline Lose First average reward = 15.7  11.4

Team          12.00
Strength       5.29
Avg_Points     7.07
Avg_Rank      12.87
Avg_Reward    15.71
Std_Reward    11.36
Top-4 %        0.00
Top-12 %       0.43
Name: 12, dtype: float64

### RL Agent

In [38]:
print(f"Baselines average reward : WinAll = {baseline_reward_wa:.1f}  {baseline_std_wa:.1f}, "
      f"LoseFirst = {baseline_reward_lf:.1f}  {baseline_std_lf:.1f}")

Baselines average reward : WinAll = 16.7  11.4, LoseFirst = 15.7  11.4

In [39]:
agent = DQNAgent(env,
                 hidden_dims=[128,64],
                 dropout= 0.4,
                 lr = 0.0005,
                 buffer_size=10000,
                 epsilon_decay=0.9995)
agent.train(n_episodes=20000)
agent.evaluate(n_episodes=2000)

--- Training in progress ---
Episode 100/20000 | Avg Reward: 7.00  7.73 |  Avg nb gambits played 3.71  1.24 | Epsilon: 0.761 | Failed episodes: 2
Episode 200/20000 | Avg Reward: 7.17  8.20 |  Avg nb gambits played 3.56  1.24 | Epsilon: 0.563 | Failed episodes: 3
Episode 300/20000 | Avg Reward: 10.20  9.82 |  Avg nb gambits played 2.99  1.09 | Epsilon: 0.416 | Failed episodes: 4
Episode 400/20000 | Avg Reward: 10.31  9.42 |  Avg nb gambits played 2.39  1.07 | Epsilon: 0.308 | Failed episodes: 4
Episode 500/20000 | Avg Reward: 13.36  10.87 |  Avg nb gambits played 2.30  1.02 | Epsilon: 0.227 | Failed episodes: 6
Episode 600/20000 | Avg Reward: 13.47  10.82 |  Avg nb gambits played 1.79  1.05 | Epsilon: 0.168 | Failed episodes: 7
Episode 700/20000 | Avg Reward: 15.67  11.25 |  Avg nb gambits played 1.58  0.99 | Epsilon: 0.124 | Failed episodes: 7
Episode 800/20000 | Avg Reward: 12.14  10.15 |  Avg nb gambits played 1.37  1.03 | Epsilon: 0.092 | Failed episodes: 10
Episode 900/20000 | Avg Reward: 14.47  11.06 |  Avg nb gambits played 1.26  0.87 | Epsilon: 0.067 | Failed episodes: 13
Episode 1000/20000 | Avg Reward: 15.70  11.17 |  Avg nb gambits played 1.12  1.04 | Epsilon: 0.049 | Failed episodes: 17
Episode 1100/20000 | Avg Reward: 16.81  11.31 |  Avg nb gambits played 0.96  0.81 | Epsilon: 0.037 | Failed episodes: 18
Episode 1200/20000 | Avg Reward: 15.01  10.98 |  Avg nb gambits played 0.98  0.86 | Epsilon: 0.027 | Failed episodes: 19
Episode 1300/20000 | Avg Reward: 16.33  11.91 |  Avg nb gambits played 1.16  0.91 | Epsilon: 0.020 | Failed episodes: 19
Episode 1400/20000 | Avg Reward: 14.79  11.09 |  Avg nb gambits played 0.85  0.84 | Epsilon: 0.015 | Failed episodes: 21
Episode 2000/20000 | Avg Reward: 13.86  11.10 |  Avg nb gambits played 1.50  1.35 | Epsilon: 0.010 | Failed episodes: 33
Episode 4000/20000 | Avg Reward: 15.14  11.15 |  Avg nb gambits played 0.72  0.79 | Epsilon: 0.010 | Failed episodes: 67
Episode 6000/20000 | Avg Reward: 15.42  11.21 |  Avg nb gambits played 0.56  0.74 | Epsilon: 0.010 | Failed episodes: 102
Episode 8000/20000 | Avg Reward: 16.13  11.35 |  Avg nb gambits played 0.53  0.72 | Epsilon: 0.010 | Failed episodes: 138
Episode 10000/20000 | Avg Reward: 15.50  11.21 |  Avg nb gambits played 0.37  0.61 | Epsilon: 0.010 | Failed episodes: 170
Episode 12000/20000 | Avg Reward: 16.16  11.28 |  Avg nb gambits played 0.53  0.70 | Epsilon: 0.010 | Failed episodes: 207
Episode 14000/20000 | Avg Reward: 15.58  11.22 |  Avg nb gambits played 0.54  0.74 | Epsilon: 0.010 | Failed episodes: 243
Episode 16000/20000 | Avg Reward: 16.06  11.28 |  Avg nb gambits played 0.43  0.64 | Epsilon: 0.010 | Failed episodes: 284
Episode 18000/20000 | Avg Reward: 15.93  11.24 |  Avg nb gambits played 0.48  0.68 | Epsilon: 0.010 | Failed episodes: 322
Episode 20000/20000 | Avg Reward: 16.17  11.25 |  Avg nb gambits played 0.45  0.65 | Epsilon: 0.010 | Failed episodes: 356
--- Evaluation in progress ---
Episode 400/2000 | Avg Reward: 16.74  11.28 | Avg nb gambits played 0.40  0.57 | Failed episodes: 6
Episode 800/2000 | Avg Reward: 16.71  11.32 | Avg nb gambits played 0.44  0.61 | Failed episodes: 21
Episode 1200/2000 | Avg Reward: 16.61  11.36 | Avg nb gambits played 0.47  0.63 | Failed episodes: 28
Episode 1600/2000 | Avg Reward: 14.99  11.11 | Avg nb gambits played 0.42  0.59 | Failed episodes: 31
Episode 2000/2000 | Avg Reward: 15.02  11.04 | Avg nb gambits played 0.40  0.60 | Failed episodes: 41

Evaluation Results:
Mean Reward: 16.02  11.25
Mean Gambits count: 0.42  0.60
Best Episode Reward: 32.00
Worst Episode Reward: 0.00
Hyperparameters logs saved in file /home/admin/code/arnaud-odet/2_projets/reinforcement_learning/logs/exp_logs.csv
History logs saved in file /home/admin/code/arnaud-odet/2_projets/reinforcement_learning/logs/histories/training_history_loc_9

### Verbosed simulation

In [22]:
# Simulate tournament
final_standings = env.simulate_tournament(verbose= True)

print("\nFinal standings (team_id, points, opponent_average):")
for rank, (team_id, points, reward, opp_avg,strength) in enumerate(final_standings, 1):

    print(f"Rank {rank}: Team {team_id} - Strength {strength:.2f} - Points: {points} (reward {reward}) - Opponent Avg: {opp_avg:.2f}")

--- Simulating round n1 ---
Game : Team 8 (points : 0, strength : 2.12) vs Team 2 (points : 0, strength : 3.53) : Draw
Game : Team 5 (points : 0, strength : 2.82) vs Team 1 (points : 0, strength : 3.76) : Team 1 wins
Game : Team 12 (points : 0, strength : 1.18) vs Team 11 (points : 0, strength : 1.41) : Team 11 wins
Game : Team 17 (points : 0, strength : 0.00) vs Team 9 (points : 0, strength : 1.88) : Team 9 wins
Game : Team 0 (points : 0, strength : 4.00) vs Team 10 (points : 0, strength : 1.65) : Team 10 wins
Game : Team 3 (points : 0, strength : 3.29) vs Team 6 (points : 0, strength : 2.59) : Draw
Game : Team 15 (points : 0, strength : 0.47) vs Team 14 (points : 0, strength : 0.71) : Team 14 wins
Game : Team 13 (points : 0, strength : 0.94) vs Team 7 (points : 0, strength : 2.35) : Team 7 wins
Game : Team 4 (points : 0, strength : 3.06) vs Team 16 (points : 0, strength : 0.24) : Team 4 wins
--- Simulating round n2 ---
Game : Team 1 (points : 3, strength : 3.76) vs Team 4 (points : 3, strength : 3.06) : Team 1 wins
Game : Team 7 (points : 3, strength : 2.35) vs Team 9 (points : 3, strength : 1.88) : Team 9 wins
Game : Team 10 (points : 3, strength : 1.65) vs Team 11 (points : 3, strength : 1.41) : Team 11 wins
Game : Team 14 (points : 3, strength : 0.71) vs Team 2 (points : 1, strength : 3.53) : Team 2 wins
Game : Team 3 (points : 1, strength : 3.29) vs Team 8 (points : 1, strength : 2.12) : Draw
Game : Team 6 (points : 1, strength : 2.59) vs Team 0 (points : 0, strength : 4.00) : Team 0 wins
Game : Team 5 (points : 0, strength : 2.82) vs Team 12 (points : 0, strength : 1.18) : Team 5 wins
Game : Team 13 (points : 0, strength : 0.94) vs Team 15 (points : 0, strength : 0.47) : Team 13 wins
Game : Team 16 (points : 0, strength : 0.24) vs Team 17 (points : 0, strength : 0.00) : Team 16 wins
--- Simulating round n3 ---
Game : Team 1 (points : 6, strength : 3.76) vs Team 9 (points : 6, strength : 1.88) : Team 1 wins
Game : Team 11 (points : 6, strength : 1.41) vs Team 2 (points : 4, strength : 3.53) : Team 2 wins
Game : Team 4 (points : 3, strength : 3.06) vs Team 7 (points : 3, strength : 2.35) : Team 4 wins
Game : Team 10 (points : 3, strength : 1.65) vs Team 5 (points : 3, strength : 2.82) : Team 10 wins
Game : Team 0 (points : 3, strength : 4.00) vs Team 14 (points : 3, strength : 0.71) : Team 0 wins
Game : Team 13 (points : 3, strength : 0.94) vs Team 16 (points : 3, strength : 0.24) : Draw
Game : Team 8 (points : 2, strength : 2.12) vs Team 6 (points : 1, strength : 2.59) : Team 8 wins
Game : Team 3 (points : 2, strength : 3.29) vs Team 12 (points : 0, strength : 1.18) : Team 3 wins
Game : Team 17 (points : 0, strength : 0.00) vs Team 15 (points : 0, strength : 0.47) : Team 15 wins
--- Simulating round n4 ---
Game : Team 1 (points : 9, strength : 3.76) vs Team 2 (points : 7, strength : 3.53) : Team 1 wins
Game : Team 4 (points : 6, strength : 3.06) vs Team 10 (points : 6, strength : 1.65) : Draw
Game : Team 11 (points : 6, strength : 1.41) vs Team 9 (points : 6, strength : 1.88) : Team 9 wins
Game : Team 0 (points : 6, strength : 4.00) vs Team 8 (points : 5, strength : 2.12) : Team 0 wins
Game : Team 3 (points : 5, strength : 3.29) vs Team 13 (points : 4, strength : 0.94) : Team 13 wins
Game : Team 16 (points : 4, strength : 0.24) vs Team 7 (points : 3, strength : 2.35) : Team 7 wins
Game : Team 14 (points : 3, strength : 0.71) vs Team 5 (points : 3, strength : 2.82) : Team 5 wins
Game : Team 15 (points : 3, strength : 0.47) vs Team 6 (points : 1, strength : 2.59) : Team 6 wins
Game : Team 12 (points : 0, strength : 1.18) vs Team 17 (points : 0, strength : 0.00) : Team 12 wins
--- Simulating round n5 ---
Simple pairing failed, using networkx matching...
Game : Team 16 (points : 4, strength : 0.24) vs Team 6 (points : 4, strength : 2.59) : Team 6 wins
Game : Team 14 (points : 3, strength : 0.71) vs Team 3 (points : 5, strength : 3.29) : Team 3 wins
Game : Team 1 (points : 12, strength : 3.76) vs Team 13 (points : 7, strength : 0.94) : Team 1 wins
Game : Team 17 (points : 0, strength : 0.00) vs Team 8 (points : 5, strength : 2.12) : Team 8 wins
Game : Team 7 (points : 6, strength : 2.35) vs Team 0 (points : 9, strength : 4.00) : Team 0 wins
Game : Team 12 (points : 3, strength : 1.18) vs Team 15 (points : 3, strength : 0.47) : Team 12 wins
Game : Team 10 (points : 7, strength : 1.65) vs Team 9 (points : 9, strength : 1.88) : Team 9 wins
Game : Team 5 (points : 6, strength : 2.82) vs Team 11 (points : 6, strength : 1.41) : Team 11 wins
Game : Team 2 (points : 7, strength : 3.53) vs Team 4 (points : 7, strength : 3.06) : Team 4 wins
--- Simulating round n6 ---
Simple pairing failed, using networkx matching...
Game : Team 8 (points : 8, strength : 2.12) vs Team 12 (points : 6, strength : 1.18) : Team 8 wins
Game : Team 0 (points : 12, strength : 4.00) vs Team 9 (points : 12, strength : 1.88) : Team 0 wins
Game : Team 6 (points : 7, strength : 2.59) vs Team 13 (points : 7, strength : 0.94) : Team 6 wins
Game : Team 11 (points : 9, strength : 1.41) vs Team 1 (points : 15, strength : 3.76) : Team 1 wins
Game : Team 3 (points : 8, strength : 3.29) vs Team 4 (points : 10, strength : 3.06) : Team 3 wins
Game : Team 15 (points : 3, strength : 0.47) vs Team 16 (points : 4, strength : 0.24) : Draw
Game : Team 10 (points : 7, strength : 1.65) vs Team 2 (points : 7, strength : 3.53) : Team 2 wins
Game : Team 5 (points : 6, strength : 2.82) vs Team 7 (points : 6, strength : 2.35) : Draw
Game : Team 14 (points : 3, strength : 0.71) vs Team 17 (points : 0, strength : 0.00) : Team 17 wins

Final standings (team_id, points, opponent_average):
Rank 1: Team 1 - Strength 3.76 - Points: 18 (reward 68) - Opponent Avg: 9.17
Rank 2: Team 0 - Strength 4.00 - Points: 15 (reward 65) - Opponent Avg: 8.33
Rank 3: Team 9 - Strength 1.88 - Points: 12 (reward 62) - Opponent Avg: 9.83
Rank 4: Team 8 - Strength 2.12 - Points: 11 (reward 61) - Opponent Avg: 9.17
Rank 5: Team 3 - Strength 3.29 - Points: 11 (reward 31) - Opponent Avg: 7.83
Rank 6: Team 2 - Strength 3.53 - Points: 10 (reward 30) - Opponent Avg: 9.67
Rank 7: Team 4 - Strength 3.06 - Points: 10 (reward 30) - Opponent Avg: 9.67
Rank 8: Team 6 - Strength 2.59 - Points: 10 (reward 30) - Opponent Avg: 8.83
Rank 9: Team 11 - Strength 1.41 - Points: 9 (reward 29) - Opponent Avg: 10.00
Rank 10: Team 10 - Strength 1.65 - Points: 7 (reward 27) - Opponent Avg: 10.50
Rank 11: Team 7 - Strength 2.35 - Points: 7 (reward 27) - Opponent Avg: 9.33
Rank 12: Team 13 - Strength 0.94 - Points: 7 (reward 27) - Opponent Avg: 9.17
Rank 13: Team 5 - Strength 2.82 - Points: 7 (reward 7) - Opponent Avg: 8.33
Rank 14: Team 12 - Strength 1.18 - Points: 6 (reward 6) - Opponent Avg: 7.50
Rank 15: Team 16 - Strength 0.24 - Points: 5 (reward 5) - Opponent Avg: 6.83
Rank 16: Team 15 - Strength 0.47 - Points: 4 (reward 4) - Opponent Avg: 5.67
Rank 17: Team 14 - Strength 0.71 - Points: 3 (reward 3) - Opponent Avg: 8.33
Rank 18: Team 17 - Strength 0.00 - Points: 3 (reward 3) - Opponent Avg: 6.83